<launch>
	<node pkg="rover_mobility" name="rover_driver" type="rover_driver" output="screen" required="true" /> 
	<!--<node pkg="rover_mobility" name="steer_command" type="steer_command.py" output="screen" required="true"/>-->
	<node pkg="rover_mobility" name="a_rive" type="autonomous_drive.py" output="screen" required="true" />
</launch>
